<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
    <%= stylesheet_link_tag 'login'%>
</head>
<body>
<div class="popup active">
    <div class="form">
        <h2 style="text-align: center;">Login</h2>
        <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="address" placeholder="Enter Email Address" name="address">
        </div>
        <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password" name="password">
        </div>
        <div class="form-element">
            <button type="submit">Sign In</button>
        </div>
        <div class="form-element">
            <a href="/signup">Don't have an account? Sign Up</a>
        </div>
        <div class="form-element">
            <a href="#">Forgot Password</a>
        </div>
    </div>
</div>
</body>
</html>