<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
    <%= stylesheet_link_tag 'signup'%>
</head>
<body>
<div class="popup active"> 
    <div class="form">
        <h2>Login</h2>
        <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="emai" placeholder="Enter Email">
        </div>
        <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password">
        </div>
        <div class="form-element">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember Me</label>
        </div>
        <div class="form-element">
            <button type="button">Sign In</button>
        </div>
        <div class="form-element">
            <a href="#signup">Don't have an account? Sign Up</a>
        </div>
        <div class="form-element">
            <a href="#">Forgot Password</a>
        </div>
    </div>
</div>
<!-- Sign Up Form --> 
<div class="popup" id="signup">
    <div class="close-btn"> &times; </div>
    <form action="/signup_user" method="post"> 
    <%= token_tag %>
    <div class="form">
        <h2>Sign Up</h2>
        <div class="form-element">
            <div class="form-element">
                <label for="profileImage">Profile Image</label>
                <input type="file" id="profileImage" accept="image/*">
            </div>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter Name" name="name">
        </div>
        <div class="form-element"> 
            <label for="address">Email</label> 
            <input type="text" id="email" name="email" placeholder="Enter Email Address">
        </div>
        <div class="form-element"> 
            <label for="address">Password</label> 
            <input type="password" id="password" name="password" placeholder="Enter Password">
        </div>
        <div class="form-element">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Enter Address" name="address">
        </div>
        <div class="form-element">
            <label for="skills">Skills</label>
            <input type="text" id="skills" placeholder="Enter Skills" name="skills">
        </div>
        <div class="form-element">
            <label for="expertise">Expertise</label>
            <input type="text" id="expertise" placeholder="Enter Expertise" name="expertise">
        </div>
        <div class="form-element" style="display: none;">
            <span>User Type:</span>
            <input type="radio" id="applicant" name="userType" value="Applicant">
            <label for="applicant">Applicant</label>
            <input type="radio" id="recruiter" name="userType" value="Recruiter">
            <label for="recruiter">Recruiter</label>
        </div>
        <div class="form-element" id="occupationField" style="display: none;">
            <label for="occupation">Occupation/Corporation</label>
            <input type="text" id="occupation" placeholder="Enter Occupation/Corporation">
        </div>
        <div class="form-element">
            <label for="userType">User Type:</label>
            <select id="userType" name="user_type">
                <option value="Applicant">Applicant</option>
                <option value="Recruiter">Recruiter</option>
            </select>
        </div>
        
        
        <div class="form-element">
            <button type="submit">Register</button>
        </div>
    </div>
    </form>
</div>
    <%= javascript_include_tag 'signup'%>
</body>
</html>